@charset "UTF-8";
@media all {
/*  for preview in CURATO */
  body, div.curModul {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 1.3em;
	color: #333;
	font-size: 0.8em;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
}
h2 {
	font-size: 1.2em;
	font-weight: normal;
	color: #666;
	margin: 0;
}
h3 {
}
.errormessage {
	font-weight: normal;
	color: #f73b63;
	}



}
